<a href="https://colab.research.google.com/github/tarunkumarsharma120/olympic-Assignment/blob/main/skillindiainternship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

TARUN KUMAR <br>
EMAILID: tarunkumarsharma120@gmail.com <br>
contact: 7838573392 <br>
Internship in Python with ML/AI

<h1>Summer Olympics Assignment</h1>

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
summer=pd.read_csv('summer.csv')

In [13]:
summer.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

In [14]:
summer.describe(include='all')

                Year    City     Sport  ... Gender     Event  Medal
count   31165.000000   31165     31165  ...  31165     31165  31165
unique           NaN      22        43  ...      2       666      3
top              NaN  London  Aquatics  ...    Men  Football   Gold
freq             NaN    3567      4170  ...  22746      1497  10486
mean     1970.482785     NaN       NaN  ...    NaN       NaN    NaN
std        33.158416     NaN       NaN  ...    NaN       NaN    NaN
min      1896.000000     NaN       NaN  ...    NaN       NaN    NaN
25%      1948.000000     NaN       NaN  ...    NaN       NaN    NaN
50%      1980.000000     NaN       NaN  ...    NaN       NaN    NaN
75%      2000.000000     NaN       NaN  ...    NaN       NaN    NaN
max      2012.000000     NaN       NaN  ...    NaN       NaN    NaN

[11 rows x 9 columns]

In [15]:
summer.dropna(inplace=True)

In [16]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31161 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31161 non-null  int64
 1   City        31161 non-null  object
 2   Sport       31161 non-null  object
 3   Discipline  31161 non-null  object
 4   Athlete     31161 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31161 non-null  object
 7   Event       31161 non-null  object
 8   Medal       31161 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.4+ MB

*Now no null values in the Dataset*

### Assignment Question No. 1

1. In how many cities Summer Olympics is held so far?

In [19]:
summer['City'].nunique()

22

Total in 22 cities , Summer Olympics is held so far.

### Assignment Question No. 2

2. Which sport is having most number of Gold Medals so far? (Top 5)

In [56]:
z=[]
for i in summer['Sport'].unique():
  # print(i,len(summer[summer['Sport']==i]['Medal']))
  z.append([len([1 for j in list(summer[summer['Sport']==i]['Medal']=='Gold') if j==True]),i])
a=sorted(z,reverse=True)
for p in range(5):
  print(*a[p])

1421 Aquatics
1214 Athletics
890 Rowing
820 Gymnastics
552 Fencing

### Assignment Question No. 3

3. Which sport is having most number of medals so far? (Top 5)

In [62]:
me=summer['Sport'].unique()
l=[]
for i in range(5):
  l.append([len(summer[summer['Sport']==me[i]]['Medal']),me[i]])
d=sorted(l,reverse=True)
for p in range(0,5):
  print(*d[p])

4170 Aquatics
3637 Athletics
2307 Gymnastics
1613 Fencing
1105 Cycling

### Assignment Quesiton No. 4

4. Which player has won most number of medals? (Top 5)

In [86]:
a=list(summer.Athlete)
from collections import Counter
u=Counter(a)
m=[]
for i,j in u.items():
  m.append([j,i])
m=sorted(m,reverse=True)
for i in range(5):
  print(*m[i])

22 PHELPS, Michael
18 LATYNINA, Larisa
15 ANDRIANOV, Nikolay
13 SHAKHLIN, Boris
13 ONO, Takashi

### Assignment Question No. 5


5. Which player has won most number Gold Medals of medals? (Top 5)

In [96]:
z=list(np.array(summer.groupby(by='Medal'))[1][1]['Athlete'])
from collections import Counter
u=Counter(z)
m=[]
for i,j in u.items():
  m.append([j,i])
m=sorted(m,reverse=True)
for i in range(5):
  print(*m[i])

18 PHELPS, Michael
9 SPITZ, Mark
9 NURMI, Paavo
9 LEWIS, Carl
9 LATYNINA, Larisa

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """Entry point for launching an IPython kernel.

### Assignment Question No. 6


6. In which year India won first Gold Medal in Summer Olympics?

In [102]:
quer=summer[summer['Country']=='IND']

In [106]:
quer[quer['Medal']=='Gold']['Year'][5512]

1928

### Assignment Question No. 7

7. Which event is most popular in terms on number of players? (Top 5)

In [108]:
a=list(summer.Event)
from collections import Counter
u=Counter(a)
m=[]
for i,j in u.items():
  m.append([j,i])
m=sorted(m,reverse=True)
for i in range(5):
  print(*m[i])

1497 Football
1422 Hockey
1147 Team Competition
1012 Basketball
973 Handball

### Assignment Question No. 8

8. Which sport is having most female Gold Medalists? (Top 5)

In [115]:
quer=summer[summer['Gender']=='Women']
# quer[quer['Medal']=='Gold']['Sport']
a=list(quer[quer['Medal']=='Gold']['Sport'])
from collections import Counter
u=Counter(a)
m=[]
for i,j in u.items():
  m.append([j,i])
m=sorted(m,reverse=True)
for i in range(5):
  print(*m[i])

589 Aquatics
388 Athletics
268 Gymnastics
217 Rowing
166 Volleyball

# Thank You
<h2> I am very happy to get this Internship, It is amazing and lucrative for my skills as well.